<table class="responsive">
  <tr>
    <thead>
      <th>Title</th>
      <th>Starting Point</th>
      <th>Target</th>
      <th>Completed?</th>
    </thead>
  </tr>
    <% @user.goals.past.each do |goal| %>
      <tr>
        <td><%= link_to "#{goal.title}", goal_path(goal) %></td>
        <td><%= goal.starting_point %></td>
        <td><%= goal.target%></td>
        <% if goal.completed_on != nil %>
          <td>yes</td>
        <% else %>
          <td>no</td>
        <% end %>
      </tr>
    <% end %>
</table>
