<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <% if @user != nil %>
      <% if @user.goals.active.any? %>
          <h1 style="font-family:Lucida Sans Unicode"><%= "Hello #{@user.first_name}" %>,</h1>

          <p style="font-size:16px; font-family:Lucida Sans Unicode"><%= "Here are your upcoming checkpoints for this week" %></p>
          <p style="font-size:16px; font-family:Lucida Sans Unicode"><% @user.goals.active.each do |goal| %>
              <%= "#{pluralize("%g" % ("%.2f" % goal.checkpoints.last.target),
              goal.unit_of_measurement)} by
              #{goal.checkpoints.last.complete_by.strftime("%B %d, %Y")}" %></p>
          <% end %>
        <% else %>
          <h1 style="font-family:Lucida Sans Unicode"><%= "Hi #{@user.first_name}" %></h1>
          <p style="font-size:16px; font-family:Lucida Sans Unicode">You have no active goals!</p>
          <p style="font-size:16px; font-family:Lucida Sans Unicode"><%=link_to "Come to Goalivate and create one now.", new_goal_path %></p>
      <% end %>
    <% end %>
  </body>
</html>

