<table>
  <tr>
    <thead>
      <th>Completed On:</th>
      <th>Target</th>
      <th>User input</th>
    </thead>
  </tr>
    <% @checkpoints.each do |checkpoint| %>
      <tr>
        <td><%= checkpoint.updated_at.strftime("%B %d, %Y") %></td>
        <td><%= "%g" % ("%.2f" % checkpoint.target) %></td>
        <% unless checkpoint.user_input == nil %>
          <td><%= "%g" % ("%.2f" % checkpoint.user_input) %></td>
        <% end %>
      </tr>
    <% end %>
</table>
<%= paginate @checkpoints, param_name: :checkpoints_page %>
