<!-- <table>
  <tr>
    <thead>
      <th>Complete By:</th>
      <th>Target</th>
      <th>User input</th>
    </thead>
  </tr>
    <% @checkpoints.each do |checkpoint| %>
      <tr>
        <td><%= checkpoint.complete_by.strftime("%B %d, %Y") %></td>
        <td><%= "%g" % ("%.2f" % checkpoint.target) %></td>
        <td><%= "%g" % ("%.2f" % checkpoint.user_input) %></td>
      </tr>
    <% end %>
</table>
 -->
