body {
   height:100%;
}

table {
  width: 100%;
}

.container {
   min-height:100%;
   position:relative;
   padding-bottom: 25px;
}

.content-box {
  padding-top: 1em;
  min-height: 600px;
  margin-top: 2em;
}
.sign-in-box {
  // margin-left: 5em;
  width: 100%;
  height: 100%;
  border: 5px #e5e5e5;
  border-style: solid;
  border-radius: 5px;
  vertical-align: right;
  background: rgba (184, 134, 11, 0.4);
}

//Logo
.top-bar ul.title-area li.name h1 a{
  font-family: 'Aladin', cursive;
  font-size: 2.5em;
}

.top-bar ul.title-area li.name h1 a:hover{
  background-color:black;

}
//

.header-for-signin {
  margin-left: 5em;
}

.sign-in-box > form {
  padding: 10px;
  margin: 10px;
}

.footer {
  position: relative;
  bottom:0;
  width:100%;
  padding-top: 100px;
}

footer.inline-list {
  border-top: 1px solid;
}

a.footer {
  border-top: 1px solid;
  text-align: center;
}

@media screen and (max-width: 600px) {
  #checkpoints-graph {
    visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    display: none;
  }
}

