html,
body {
   margin:0;
   padding:0;
   height:100%;
}

.container {
   min-height:100%;
   position:relative;
}

.content {
  background-color: white;
}

.bg {
  background: url('background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bg::after{
  opacity: 0.5;
  z-index: -1;
}

.sign_in_box{
  margin-left: 5em;
  width: 100%;
  height: 100%;
  border: 5px solid #e5e5e5;
  border-radius: 5px;
  vertical-align: right;
}

.sign_in_box > form {
  padding: 10px;
  margin: 10px;
}

//footer
.footer {
  position:absolute;
  bottom:0;
  width:100%;
  height:30px;   /* Height of the footer */
  background:#333;
  color: white;
}

.footer, li {
  display: inline;
}

.footer li > a {
  color: white;
  font-weight: normal;
  padding: 5px;
  margin: 5px;
}
