<div class="footer">
  <ul class="inline-list">
    <li>
      <%= link_to simple_format('<i class="fa fa-envelope fa-2x"></i>'),
            new_contact_inquiry_path %>
    </li>
    <li>
      <a href='https://twitter.com/TheJohnDeWolf'>
      <i class="fa fa-twitter fa-2x"></a></i>
    </li>
  </ul>
</div>
